<main>
    <div class="super-image" @slideRight>
        <img src="../assets/experience.jpg">
    </div>
    <div class="content-body">
        <div class="section-body" @slideLeft>
            <div class="section-content-experience">
                <div class="content-text">
                    <div class="section-head">
                        <h3>Experience</h3>
                        <hr>
                        <h4 class="sub-section-head">Web Development</h4>
                        <ul class="exp-list">
                            <li><p><strong>LDARtools: </strong>Designed and developed LDARtools.com as a customer-facing portal that showcases current company activities and product marketing to increase brand awareness.</p></li>
                            <li><p><strong>Trend Micro: </strong> Formatted and edited webpages using a CMS (Content Management System) as well as HTML (Hypertext Markup Language), providing a portal for customers to access solutions to their queries.</p></li>
                        </ul>
                    </div>
                    <div class="sub-section-head">
                        <h4>Web Administration</h4>
                        <ul class="exp-list">
                            <li><p><strong>LDARtools: </strong> Wrote, published, and managed technical and user-friendly hardware and software manuals and one-sheets designed for customer support and internal use, hosted on the web.</p></li>
                            <li><p><strong>LDARtools: </strong> Wrote engaging blog posts on news and events that involved LDARtools and the LDAR industry at large using WordPress and previously, HubSpot.</p></li>
                            <li><p><strong>Trend Micro: </strong> Edited and published how-to guides with topics from resolving problems to using their programs.</p></li>
                            <li><p><strong>Trend Micro: </strong> Converted content to make it SEO-friendly (Search Engine Optimization) for our internal search engine (FAST) and external ones (Google, Yahoo, Bing).</p></li>
                            <li><p><strong>Trend Micro: </strong> Managed webpages that feature the most common articles per product.</p></li>
                            <li><p><strong>Trend Micro: </strong> Gathered requirements for a new support portal platform and communicated these to international colleagues working on the same project.</p></li>
                            <li><p><strong>Trend Micro: </strong> Generated and analyzed reports on customer satisfaction, portal conversion, and resolution for the support website esupport.trendmicro.c.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="misc-body" @slideUp>
            <div class="notes-body-experience">
                Technologies I'm familiar with: 
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-jquery-plain-wordmark"></i>
                <i class="devicon-nodejs-plain-wordmark bigger"></i>
                <i class="devicon-postgresql-plain-wordmark"></i>
                <i class="devicon-sequelize-plain-wordmark bigger"></i>
                <i class="devicon-typescript-plain"></i>
                <i class="devicon-photoshop-line"></i>
                <i class="devicon-github-plain-wordmark"></i>
                <i class="devicon-bootstrap-plain-wordmark"></i>
                <i class="devicon-angularjs-plain"></i>
                <img src="../assets/jqueryuilogo.png" width="35px">
                <p><strong>EJS</strong></p>
            </div>
        </div>
    </div>
</main>