<main>
    <div class="super-image image-m" @slideRight>
        <img src="../assets/about.jpg">
    </div>
    <div class="content-body">
        <div class="section-body" @slideLeft>
            <div class="section-content section-content-info">
                <div class="content-text">
                    <div>Full-stack web developer with a focus on core JavaScript, jQuery, Node.js, Express, Postgres,
                        and Sequelize. Teaching myself Angular, React, and TypeScript.
                    </div>
                    <div class="section-head">
                        <h3>Education</h3>
                        <hr>
                        <div class="row-organize">
                            <p><strong>DigitalCrafts</strong> (Full-Stack Web Development)</p>
                            <p class="image-s">2020</p>
                        </div>
                        <div class="row-organize">
                            <p><strong>The Manila Time School of Journalism</strong> (Bachelor of Arts, Journalism)</p>
                            <p class="image-s">2006</p>
                        </div>
                    </div>
                    <div class="section-head">
                        <h3>Certificates</h3>
                        <hr>
                        <div class="row-organize">
                            <p>Advanced CSS Concepts</p>
                            <p class="image-s">(Microsoft – EdX.org)</p>
                        </div>
                        <div class="row-organize">
                            <p>AngularJS: Framework Fundamentals</p>
                            <p class="image-s">(Microsoft – EdX.org)</p>
                        </div>
                        <div class="row-organize">
                            <p>AngularJS: Advanced Framework Techniques</p>
                            <p class="image-s">(Microsoft – EdX.org)</p>
                        </div>
                        <div class="row-organize">
                            <p>Building Your Azure Skills Toolkit</p>
                            <p class="image-s">(Microsoft – EdX.org)</p>
                        </div>
                        <div class="row-organize">
                            <p>Using Open Source Web Toolling to Improve Development Proficiency</p>
                            <p class="image-s">(Microsoft – EdX.org)</p>
                        </div>
                        <div class="row-organize">
                            <p>DevOps for Developers: How to Get Started</p>
                            <p class="image-s">(Microsoft – EdX.org)</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="misc-body" @slideUp>
            <div class="notes-body info-m">
                <div class="notes">
                    <i class="devicon-github-plain"></i><a
                        href="https://www.github.com/jmelegrito">github.com/jmelegrito</a></div>
                <div class="notes"><img
                        src="../assets/linkedin.png"
                        class="about-logo"><a
                        href="https://www.linkedin.com/in/john-melegrito-96abb971/">linkedin.com</a></div>
                <div class="notes"><i class="devicon-google-plain"></i><a href="mailto:john.e.melegrito@gmail.com">john.e.melegrito@gmail.com</a></div>
            </div>
        </div>
    </div>
</main>