<header>
    <div class="navbar">
        <a href="#" class="logo image-s" > <img src="../assets/logo.jpg"> John Melegrito</a>
        <nav>
            <ul>
                
                    <li><a href="#" routerLink="/" (click)="setSection('Home')">Home</a></li>
                    <li><a href="#" routerLink="/projects" (click)="setSection('Projects')">Projects</a></li>
                    <li><a href="#" routerLink="/experience" (click)="setSection('Experience')">Experience</a></li>
                    <li><a href="#" routerLink="/info" (click)="setSection('Info')">Info</a></li>
               
            </ul>
        </nav>
    </div>
    <div class="section-title image-s">
        <div>{{ section }}</div>
    </div>
</header>

<div>
<router-outlet></router-outlet>
</div>