@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    overflow:hidden;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {

    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.super-image {
    background-color: #f8f8f8;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    background-color: #dbdbdb;
    height: 54px;
}

.section-title {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324e7b;
}

header a {
    color: #5e5e5e;
    text-decoration: none;
}

header a.logo {
    font-weight: bold;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-right: 1em;
}

header nav ul li{
    padding: 1em;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 30px;
    padding: 5px;
}
.content-body {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.section-body {
    background-color: #dbdbdb;
    color: #5e5e5e;
    padding: 1em;
}
.section-content{
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-radius: 5px;
}
.notes-body {
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
}
.notes-body-home {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notes-home {
    margin-left: 30px;
}
.notes-body-experience > i {
    font-size: 35px;
}
.notes-body-experience > .bigger {
    font-size: 60px;
}
.notes-body-project > i {
    font-size: 35px;
}
.notes-body-project > .bigger {
    font-size: 60px;
}
.notes-body-home > i {
    font-size: 35px;
}
.notes-body-home > .bigger {
    font-size: 60px;
}
.notes-body-project {
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin-top: -10px;
}
a {
    text-decoration: none;
    color: #324e7b;
    font-weight: bold;
}
.notes-body a:link, a:visited {
    text-decoration: none;
    color: #324e7b;
    font-weight: bold;
}
.notes a:hover {
    animation-name: bounce;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
}
.notes a, span {
    padding: 5px;
}
.notes {
    display: flex;
    align-items: center;
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-3px);} 
    60% {-webkit-transform: translateY(-5px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-3px);} 
    60% {transform: translateY(-5px);} 
 }
 .project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin-bottom: -10px;
}
.project-content-tech {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.proj-box {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.proj-vid {
    width: 175px;
}
.proj-logo {
    width: 100px;
}
.proj-desc {
    padding-bottom: 10px;
}
.proj-app {
    padding-bottom: 10px;
}
.button-link {
    text-decoration: none;
    color: #324e7b;
    font-weight: bold;
    font-size: 14px;
}
.proj-link {
    padding: 5px;

}
.notes-body-project {
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin-top: -10px;
}
hr{
    margin-top: -15px;
    margin-bottom: 20px;
}
.proj-desc > hr {
    margin: 5px;
}

.row-organize {
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
}
.section-head {
    margin-top: -10px;
}
.exp-section-head {
    margin-top: -10px;
    font-weight: bold;
}
.sub-section-head {
    margin-top: -5px;
    margin-bottom: -5px;
    font-weight: bold;
}
.section-content-experience{
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    margin-bottom: -10px;
}
.misc-body {
    background-color: #dbdbdb;
    padding: 1em;
}

.notes-body-experience {
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin-top: -10px;
}
.exp-list > li {
    margin-top: -10px;
}

/* @media only screen and (max-width: 767px) {
    header {
        margin-top: 2px;
    }
    main {
        display: grid;
        grid-template-rows: 1fr 3fr;
        height: 100vh;
        width: 100vw;
    }
    .super-image {
        background-color: #f8f8f8;
        overflow: hidden;
        height: 100px;
        width: 767px;
    }
    .super-image img {
        display: flex;
        align-items: center;
    }
    .content-body {
        width: 100vw;
    }
    .section-body {
        width: 100%;
    }
    .section-content-experience {
        width: 80%;
    }
    .section-content {
        width: 100%;
    }
    .project-content {
        width: 87%;
    }

        .about-logo {
        width: 20px;
    }
    .image-container {
        display: flex;
        align-items: flex-start;
    }
    .about-image {
        width: 150px;
        margin-left: 20px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }
    .notes-body {
        margin-top: -10px;
        grid-template-columns: 1fr 1fr;
    }
    .notes-body-experience {
        width: 92%;
        margin-left: -10px;
    }
    .image-m {
        display: none;
    }
    .image-s {
        display: none;
    }
    .info-m {
        display: flex;
        flex-flow: column;
    }
    .row-organize {
        margin-top: -30px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 450px;
    }

} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    main {
        display: grid;
        grid-template-rows: 1fr 3fr;
        height: 100vh;
    }
    .super-image {
        background-color: #f8f8f8;
        margin-top: .5px;
        height: 100px;
        overflow: hidden;
        width:100%;
    }
    .super-image img {
        display: flex;
        align-items: center;
        width:100%;
    }
        .about-logo {
        width: 20px;
    }
    .image-container {
        display: flex;
        align-items: flex-start;
    }
    .about-image {
        width: 150px;
        margin-left: 20px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }
    .notes-body {
        margin-top: -10px;
        grid-template-columns: 1fr 1fr;
    }
    .image-m {
        display: none;
    }
    .info-m {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {    
    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        height: 100vh;
    }
    .super-image img {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100vh;
    }
    .about-logo {
        width: 20px;
    }
    .image-container {
        display: flex;
        align-items: flex-start;
    }
    .about-image {
        width: 175px;
        margin-left: 20px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        border-radius: 5px;
    }

}

