@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {

    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    background-color: #dbdbdb;
    height: 54px;
}
.section-title {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324e7b;
}

header a {
    color: #5e5e5e;
    text-decoration: none;
}

header a.logo {
    font-weight: bold;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-right: 1em;
}

header nav ul li{
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 90vh;
}

.super-image {
    background-color: #f8f8f8;
}
.content-body {
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.section-body {
    background-color: #dbdbdb;
    color: #5e5e5e;
    padding: 1em;
    height: 93%;
}
.section-content{
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 1em;
    height: 92%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.misc-body {
    display: grid;
    grid-template-columns: 2fr;
    background-color: #dbdbdb;
    padding: 1em;
}
.notes-body {
    background-color: #ebebeb;
    border: 1px solid lightgray;
    color: #5e5e5e;
    padding: 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.super-image img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 30px;
    padding: 5px;
}