<main>
    <div class="super-image" @slideRight>
        <img src="../assets/home.jpg">
    </div>
    <div class="content-body">
        <div class="section-body" @slideLeft>
            <div class="section-content">
                <div>
                    <h1>Hello!</h1>
                    <p>I'm John Melegrito, a Full Stack Web Developer based in Houston, Texas.</p>
                    <p>A writer in a previous life, I've written for companies like <strong>LDARtools</strong>,
                        <strong>Trend Micro</strong>, and <strong>Summit Media</strong>. Now, I'm writing code for
                        whichever project that comes to mind.</p>
                    <p>Currently, I'm:</p>
                    <ul>
                        <li>Strengthening my knowledge of Angular and TypeScript.</li>
                        <li>Learning React and PHP.</li>
                        <li>Teaching my five-year-old basic addition and my one-year-old animal sounds.</li>
                    </ul>
                    <p>Thank you for showing interest in my work. If you have any questions, please check the <a
                            href="/info">Info section</a> or email me at <a
                            href="mailto:john.e.melegrito@gmail.com">john.e.melegrito@gmail.com</a>.</p>
                </div>
                <div class="image-container">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGCMSm1zLKVCg/profile-displayphoto-shrink_200_200/0?e=1585785600&v=beta&t=Z_gjM0PO1I_r7owiIVWvfjlhmEnQHvH0laXLgPQ5IPk"
                        class="about-image">
                </div>
            </div>
        </div>
        <div class="misc-body" @slideUp>
            <div class="notes-body">
                <div>
                    <h3>Portfolio Project</h3>
                    <p>This is a project created to showcase my work and provide information allowing it to also serve as my online resume.</p>
                </div>
                <div class="notes-home">
                    <h3>Technologies used: </h3>
                    <div class="notes-body-home">
                        <i class="devicon-html5-plain-wordmark"></i>
                        <i class="devicon-css3-plain-wordmark"></i>
                        <i class="devicon-javascript-plain"></i>
                        <i class="devicon-typescript-plain"></i>
                        <i class="devicon-photoshop-line"></i>
                        <i class="devicon-github-plain-wordmark"></i>
                        <i class="devicon-angularjs-plain"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>